.bg-tg {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-image: url(/beijing2.jpg);
  background-size: cover;
  background-position: center center;
  width: 100vw;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}
